.App {
    text-align: left;
    color: #3775dd;
    font-size: 23px;
    text-shadow: 0 4px 6px rgb(65 132 144 / 5%), 0 2px 4px rgb(0 0 0 / 50%);
    list-style-type:none;

}
.btn {
    display: inline-block;
    box-sizing: border-box;

    padding: 0 20px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #3775dd;
    box-shadow: 0 2px #21487f;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;

}
.btn:hover {
    background-color: #002fed;
}
.btn:active {
    background-color: #2f599e !important;
}
.btn:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
}
.btn:disabled {
    background-color: #6c87b5;
    pointer-events: none;
}
