.site{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    background-color: bisque;
}
.button {
    background-color: #008CBA;
    border: 1px solid;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #FFFFFFFF;
    color: #2c2929;
    border: 1px solid;
}

.button_2 {
    background-color: #FFFFFFFF;
    border: 1px solid;
    color: #000000;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button_2:hover {
    background-color: #008CBAFF;
    color: #ffffff;
    border: 1px solid;
}

.button_3 {
    background-color: #115e00;
    border: 1px solid;
    color: #ffffff;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button_3:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid;
}